<mat-toolbar color="primary">
  <button mat-icon-button (click)="exit()">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <span>Add {{type}} category</span>
  <button mat-icon-button routerLink="/">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>
<mat-card>
  <div [formGroup]="formGroup" class="form-input">
    <button mat-icon-button color="primary">
      <mat-icon>{{formGroup.get('icon')?.value}}</mat-icon>
    </button>
    <mat-form-field class="mat-from-field">
      <input matInput placeholder="Category name" formControlName="categoryName">
    </mat-form-field>
  </div>
  <mat-card-content class="category-group">
    <span *ngFor="let group of currentCategory.groups">
      <mat-card-title>{{group.groupName}}</mat-card-title>
      <div class="icon-list">
        <button class="btn-icon" mat-mini-fab (click)="updateIcon(icon)"
            *ngFor="let icon of group.icons"
            [color]="icon === formGroup.get('icon')?.value ? 'primary': ''">
          <mat-icon>{{icon}}</mat-icon>
        </button>
      </div>
    </span>
  </mat-card-content>
</mat-card>