.mat-toolbar {
  justify-content: space-between;
}

.form-input {
  display: flex;
  justify-content: space-between;
  & .mat-from-field {
    width: 100%;
  }
}

.category-group {
  margin: 0 0.5rem 0 0.5rem;
}

.btn-icon {
  margin: 0.5rem;
}

.mat-card-subtitle {
  text-align: center !important;
  margin: 8px 0 8px 0 !important;
  color: rgb(0 0 0 / 66%);
}

.icon-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}