.mat-list-item {
  cursor: pointer;
}

.user-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin-bottom: 10px
  }
}