<mat-list>
  <div mat-subheader>{{'User' | translate}}</div>
  <div class="user-block">
    <img *ngIf="photo" [src]="photo" alt="user-image" title="user-image"/>
    <p *ngIf="displayName">
      {{displayName}}
    </p>
  </div>
  <mat-divider></mat-divider>
  <div mat-subheader>{{'Actions' | translate}}</div>
  <mat-list-item *ngFor="let item of navItems" [id]="item.icon" (click)="performItemAction(item.action)">
    <mat-icon mat-list-icon color="primary">{{item.icon}}</mat-icon>
    <span mat-line>{{item.name | translate}}</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item (click)="logout()">
    <mat-icon mat-list-icon color="primary">exit_to_app</mat-icon>
    <span mat-line>{{'Exit' | translate}}</span>
  </mat-list-item>
</mat-list>