<form [formGroup]="formGroup">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="exit()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span>{{'Report' | translate}}</span>
    <button mat-stroked-button (click)="openYearMonth()">
      {{yearMonth.shortMonth | translate}} {{yearMonth.year}}
    </button>
  </mat-toolbar>
  <div class="header-height"></div>
  <mat-card>
    <mat-form-field class="w-100">
      <mat-select formControlName="type">
        <mat-option [value]="categoryType.expense">
          {{categoryType.expense | translate}}
        </mat-option>
        <mat-option [value]="categoryType.income">
          {{categoryType.income | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
  <ng-container *ngIf="!loading">
    <mat-card>
      <canvas baseChart width="200" height="150" [data]="chartData" [labels]="doughnutChartLabels"
        [options]="chartOptions" [legend]="chartLegend" [type]="chartType">
      </canvas>
    </mat-card>
    <mat-accordion>
      <mat-expansion-panel hideToggle *ngFor="let group of groupMovementCategoryModel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button mat-mini-fab customColor [color]="group!.color" [backgroundColor]="group!.backgroundColor">
              <i class="material-icons-outlined notranslate">{{group.icon}}</i>
            </button>
            <span>
              {{group.categoryName}}
            </span>
            <span>
              {{group.amount | number:'' : numberType}}
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li *ngFor="let movement of group.movements" class="row">
            <span>
              - {{movement.memorandum ? movement.memorandum : group.categoryName}}
            </span>
            <span>
              {{movement.amount | number:'' : numberType}}
            </span>
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</form>