#main {
  height: 93vh !important;
  overflow-y: auto;
}

.mat-card {
  overflow-y: auto;
  margin: 1rem;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
}

.show-in-movement-icon {
  font-size: 16px;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  color: #82b366;
}

@media (max-width: 599px) {
  #main {
    height: 100vh !important;
    overflow-y: auto !important;
  }
}