<mat-toolbar color="primary">
  <button mat-icon-button (click)="exit()" [title]="'exit-button' | translate">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <span>{{'Related Mov.' | translate}}</span>
  <button mat-icon-button [routerLink]="'add'" [title]="'Add Related Movement' | translate">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<div class="header-height"></div>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<mat-card *ngIf="!loading">
  <mat-card-content>
    <mat-accordion displayMode="default" [multi]="true" [hideToggle]="true" *ngIf="relatedMovements.length > 0">
      <ng-container *ngFor="let related of relatedMovements">
        <mat-expansion-panel [hideToggle]="true">
          <mat-expansion-panel-header>{{related.name}}</mat-expansion-panel-header>
          <mat-panel-description>
            <p for="incomeAmount">
              <b translate>Income Amount:</b> {{related.incomeAmount}}
            </p>
            <p for="expenseAmount">
              <b translate>Expense Amount:</b> {{related.incomeAmount}}
            </p>
            <p for="movements">
              <b translate>Movements:</b>
            </p>
            <ng-container *ngIf="movements.get(related.id!) as incomeExpenseMovement; else noMovements">
              <ng-container *ngFor="let expense of incomeExpenseMovement.expenses">
                {{expense.memorandum}}
              </ng-container>
              <ng-container *ngFor="let income of incomeExpenseMovement.incomes">
                {{income.memorandum}}
              </ng-container>
            </ng-container>
            <ng-template #noMovements>
              <span translate>Without movements</span>
            </ng-template>
            
          </mat-panel-description>
          <mat-action-row>
            <button mat-button color="warn" (click)="deleteRelatedMovement()" [title]="'delete-button' | translate"
              translate>
              Delete
            </button>
            <button mat-button (click)="displayMovements(related.id!)" translate>
              Show Movements
            </button>
            <button mat-button [routerLink]="['update', related.id]" [title]="'edit-button' | translate" translate>
              Edit
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
    <section *ngIf="relatedMovements.length === 0" align="center">
      <button mat-stroked-button color="primary" [routerLink]="'add'" [title]="'Add Related Movement' | translate">
        <mat-icon>add</mat-icon>
        {{'Add Related Movement' | translate}}
      </button>
    </section>
  </mat-card-content>
</mat-card>
<!-- <mat-card>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="deleteRelatedMovement()" [title]="'delete-button' | translate" translate>Delete</button>
    <button mat-button [routerLink]="['update', related.id]" [title]="'edit-button' | translate" translate>Edit</button>
  </mat-card-actions>
</mat-card> -->