.mat-toolbar {
  justify-content: unset;
  position: unset;
  & > span {
    margin: auto;
  }
}

.file-input {
  display: none;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 0 !important;
  min-width: 170px;
}

.file-upload {
  display: flex;
  align-items: center;
}

.mat-card {
  margin: 1rem;
  height: calc(42%);
}
.file-error {
  height: unset;
}