.mat-toolbar {
  justify-content: unset;
  position: unset;
  & > span {
    margin: auto;
  }
}

.file-input {
  display: none;
}

.file-upload {
  display: flex;
  align-items: center;
}

.mat-card {
  margin: 1rem;
}

.file-error {
  height: unset;
}

.mat-card-content {
  margin-bottom: 1rem;
  overflow-wrap: anywhere;
}

.mat-card-header {
  display: flex;
  justify-content: center;
}

span.mat-list-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0.3rem 0;
  position: relative;
  height: inherit;
  font-size: smaller;
  &::before {
    content: "-\00a0";
    color: black;
    font-size: medium;
    font-weight: bold;
  }
}

#main {
  height: 100vh;
  overflow-y: auto !important;
}

// span.mat-list-item-content::before {
//   content: "-\00a0";
//   color: black;
//   font-size: medium;
//   font-weight: bold;
// }