.mat-toolbar {
  justify-content: unset;
  & > span {
    margin: auto;
  }
}

.file-input {
  display: none;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 0 !important;
}