<mat-toolbar color="primary">
  <button mat-icon-button (click)="exit()">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <span>Import Movement</span>
</mat-toolbar>
<mat-card>
  <mat-card-header>
    <mat-card-title>Instructions</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list dense>
      <mat-list-item>Expensive procedure(it may take a few minutes)</mat-list-item>
      <mat-list-item>Format file .csv</mat-list-item>
      <mat-list-item>Required first row: {{csvHeader}}</mat-list-item>
      <mat-list-item>All categories need to be exist</mat-list-item>
      <mat-list-item>After load file will be show one button to check file</mat-list-item>
      <mat-list-item>Check if all columns are correct</mat-list-item>
      <mat-list-item>If all right will pop-up saying length of records and if you want save all</mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <mat-card-actions>
    <button mat-stroked-button (click)="fileUpload.click()" [disabled]="loading">
      <input type="file" class="file-input" accept=".csv" (change)="onFileSelected($event)" #fileUpload>
      <div class="file-upload">
        {{file?.name || "No file uploaded yet."}}
        <mat-icon color="primary">attach_file</mat-icon>
      </div>
    </button>
    <button mat-icon-button color="primary" *ngIf="file" (click)="processFile()" [disabled]="loading">
      <mat-icon>history</mat-icon>
    </button>
    <button mat-icon-button color="primary" *ngIf="!loading && openPopUp" (click)="openDialog()">
      <mat-icon>cloud_upload</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>