.year {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  align-items: center;
}

.btn-month {
  margin: 0.5rem;
}

.months {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}