<div class="year">
  <button mat-mini-fab color="" [title]="'back-button' | translate" (click)="previousYear()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span>{{formGroup.controls.selectedYear.value}}</span>
  <button mat-mini-fab color="" [title]="'next-year-button' | translate" (click)="nextYear()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>
<div class="months">
  <button class="btn-month" mat-mini-fab
    *ngFor="let month of months | enumArrayLoop"
    [color]="month === formGroup.controls.month.value && formGroup.controls.year.value === formGroup.controls.selectedYear.value ? 'primary': ''"
    [title]="'change-month-button' | translate"
    (click)="changeMonth(month)"
  >
    {{month | translate}}
  </button>
</div>
