<mat-sidenav-container [hasBackdrop]="true">
  <mat-sidenav #sidenav [mode]="'over'" [fixedInViewport]="true">
    <app-side-nav></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My Money</span>
      <button mat-stroked-button (click)="openBottomSheet()">
        {{yearMonth?.monthLabel ? yearMonth?.monthLabel : 'Search'}}
      </button>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <mat-card class="mat-card-header">
      <span class="amount-header">
        <span matRipple [matRippleCentered]="true" [matRippleUnbounded]="true">
          <label>
            Ingresos
          </label>
          <p>{{income}}</p>
        </span>
        <hr>
        <span matRipple [matRippleCentered]="true" [matRippleUnbounded]="true">
          <label>
            Gastos
          </label>
          <p>{{expenses}}</p>
        </span>
        <hr>
        <span>
          <label>
            Equilibrio
          </label>
          <p>{{balance}}</p>
        </span>
      </span>
    </mat-card>
    <mat-card *ngFor="let groupDateMovement of groupDateMovementList" class="mat-card-movement">
      <app-movement [groupDateMovement]="groupDateMovement" [categories]="categories"></app-movement>
    </mat-card>
      <mat-card-footer>
        <button mat-fab class="btn-add" routerLink="/register-movement">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-footer>
  </mat-sidenav-content>
</mat-sidenav-container>