<mat-sidenav-container [hasBackdrop]="true">
  <mat-sidenav #sidenav [mode]="'over'" [fixedInViewport]="true">
    <app-side-nav></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title | translate}}</span>
      <button mat-stroked-button (click)="openBottomSheet()">
        {{messageSearch | translate}}
      </button>
    </mat-toolbar>
    <div class="header-height"></div>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <mat-card class="mat-card-header">
      <span class="amount-header">
        <span matRipple [matRippleCentered]="true" [matRippleUnbounded]="true" [routerLink]="['report-month', categoryType.income]">
          <label>
            {{'Incomes' | translate}}
          </label>
          <p>{{income | number:'':'es'}}</p>
        </span>
        <hr>
        <span matRipple [matRippleCentered]="true" [matRippleUnbounded]="true" [routerLink]="['report-month', categoryType.expense]">
          <label>
            {{'Expenses' | translate}}
          </label>
          <p>{{expenses | number:'':'es'}}</p>
        </span>
        <hr>
        <span>
          <label>
            {{'Difference' | translate}}
          </label>
          <p>{{balance | number:'': 'es'}}</p>
        </span>
      </span>
    </mat-card>
    <ng-container *ngIf="!loading">
      <mat-card *ngFor="let groupDateMovement of groupDateMovementList" class="mat-card-movement">
        <app-movement [groupDateMovement]="groupDateMovement" [categories]="categories"></app-movement>
      </mat-card>
    </ng-container>
    <div class="end-principal"></div>
    <mat-card-footer>
      <button mat-fab color="primary" class="btn-add" routerLink="/register-movement">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-footer>
  </mat-sidenav-content>
</mat-sidenav-container>