.mat-card-header {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.mat-card-movement {
  margin: 0.5rem 1rem 0.5rem 1rem;
}

.amount-header {
  display: flex;
  padding-bottom: 12px;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.mat-fab.mat-accent {
  color: #979797;
}

.mat-flat-button.mat-accent {
  background-color: #ffd740c9;
}

.mat-sidenav-content {
  min-height: 100%;
}

.btn-add {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
}
