<mat-toolbar color="primary">
  <button mat-icon-button (click)="exit()">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <span>{{'Details' | translate}}</span>
  <button mat-icon-button (click)="deleteMovement()">
    <mat-icon>delete</mat-icon>
  </button>
</mat-toolbar>
<mat-card *ngIf="movement">
  <span class="mat-card-header">
    <button mat-icon-button customColor
            [color]="movement!.color"
            [backgroundColor]="movement!.backgroundColor">
      <mat-icon>{{movement.icon}}</mat-icon>
    </button>
    <span>{{movement.categoryName}}</span>
    <button mat-icon-button (click)="editMovement(movement.id)">
      <mat-icon>edit</mat-icon>
    </button>
  </span>
</mat-card>
<mat-card *ngIf="movement">
  <mat-card-content>
    <p>
      <label>Memorandum: </label>
      <span>{{movement.memorandum}}</span>
    </p>
    <p>
      <label>Category: </label>
      <span>{{movement.type}}</span>
    </p>
    <p>
      <label>Date: </label>
      <span>{{movement.date | date: 'dd/MM/YYY E'}}</span>
    </p>
    <p>
      <label>Amount: </label>
      <span>{{movement.amount | number:'' : numberType}}</span>
    </p>
  </mat-card-content>
</mat-card>