<mat-toolbar color="primary">
  <button mat-icon-button (click)="exit()" [title]="'exit-button' | translate">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <span translate>Details</span>
  <button mat-icon-button (click)="deleteMovement()" [title]="'delete-button' | translate">
    <mat-icon>delete</mat-icon>
  </button>
</mat-toolbar>
<ng-container *ngIf="load">
  <mat-card>
    <span class="mat-card-header">
      <button mat-icon-button customColor
        [color]="movement!.color"
        [backgroundColor]="movement!.backgroundColor"
      >
        <mat-icon>{{movement!.icon}}</mat-icon>
      </button>
      <span>{{movement!.categoryName | translate}}</span>
      <button mat-icon-button [title]="'edit-button' | translate" (click)="editMovement(movement!.id)">
        <mat-icon>edit</mat-icon>
      </button>
    </span>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <p>
        <label translate>Memorandum: </label>
        <span>{{movement!.memorandum! | translate}}</span>
      </p>
      <p>
        <label translate>Category: </label>
        <span translate>{{movement!.type}}</span>
      </p>
      <p>
        <label translate>Date: </label>
        <span>{{movement!.date | date: 'dd/MM/YYY E': '': language}}</span>
      </p>
      <p>
        <label translate>Amount: </label>
        <span>{{movement!.amount | number:'' : numberType}}</span>
      </p>
    </mat-card-content>
  </mat-card>
</ng-container>