<form [formGroup]="formGroup">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="exit()" [title]="'exit-button' | translate">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span translate>Edit category</span>
    <button mat-icon-button routerLink="/" [title]="'home-button' | translate">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar>
  <mat-card *ngIf="category">
    <span class="mat-card-header">
      <span class="title-color" translate>{{category.name}}</span>
    </span>
  </mat-card>
  <mat-card *ngIf="category">
    <mat-card-content>
      <div class="icon-button">
        <button mat-fab customColor
          [color]="formGroup.controls.color.value ?? undefined"
          [backgroundColor]="formGroup.controls.backgroundColor.value ?? undefined"
          [title]="'icon-button' | translate"
        >
          <mat-icon>{{category.icon}}</mat-icon>
        </button>
      </div>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label translate>Icon color</mat-label>
        <input matInput type="color" formControlName="color" id="color">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label translate>Background color</mat-label>
        <input matInput type="color" formControlName="backgroundColor" id="background-color">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label translate>Order</mat-label>
        <input matInput type="text" formControlName="order" [mask]="mask" [thousandSeparator]="thousandSeparator" id="order">
        <mat-error *ngIf="formGroup.controls.order.hasError('min') || formGroup.controls.order.hasError('min')" translate>Value cannot less than zero.</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
      <button mat-stroked-button color="primary" (click)="exit()" [title]="'cancel-button' | translate">
        {{'Cancel' | translate}}
      </button>
      <button mat-stroked-button color="primary" type="submit" [disabled]="formGroup.invalid" [title]="'save-button' | translate"
        (click)="save()">{{'Save' | translate}}
      </button>
    </mat-card-footer>
  </mat-card>
</form>