<form [formGroup]="formGroup">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="exit()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span translate>Edit category</span>
    <button mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar>
  <mat-card *ngIf="category">
    <span class="mat-card-header">
      <span class="title-color" translate>{{category.name}}</span>
    </span>
  </mat-card>
  <mat-card *ngIf="category">
    <mat-card-content>
      <div class="icon-button">
        <button mat-fab customColor
          [color]="formGroup.get('color')!.value"
          [backgroundColor]="formGroup.get('backgroundColor')!.value">
          <mat-icon>{{category.icon}}</mat-icon>
        </button>
      </div>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label translate>Icon color</mat-label>
        <input matInput type="color" formControlName="color">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label translate>Background color</mat-label>
        <input matInput type="color" formControlName="backgroundColor">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label translate>Order</mat-label>
        <input matInput type="text" formControlName="order" [mask]="'separator.0'" thousandSeparator=".">
        <mat-error *ngIf="formGroup.get('order')?.hasError('min') || formGroup.get('order')?.hasError('min')" translate>Value cannot less than zero.</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
      <button mat-stroked-button color="primary" (click)="exit()">{{'Cancel' | translate}}</button>
      <button mat-stroked-button color="primary" type="submit" [disabled]="formGroup.invalid"
        (click)="save()">{{'Save' | translate}}</button>
    </mat-card-footer>
  </mat-card>
</form>