.mat-toolbar {
  justify-content: unset;
  position: unset;
  & > span {
    margin: auto;
  }
}

.mat-card {
  margin: 1rem;
}

.mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  & > span {
    font-weight: bold;
    font-size: 20px;
  }
}

.icon-button {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

#main {
  height: calc(92vh - 23px);
}