<mat-toolbar color="primary">
  <h1>{{title | translate}}</h1>
</mat-toolbar>

<mat-card>
  <img matCardImage src="../../../assets/img/project-image.png" [alt]="'Project image' | translate" [title]="'Project image' | translate">
  <mat-card-header>
    <mat-card-title translate>Welcome</mat-card-title>
    <mat-card-subtitle>{{'If you want login please click on' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-footer>
    <button mat-stroked-button color="primary" [title]="'login-button' | translate" (click)="goToLogin()">
      <mat-icon>account_circle</mat-icon>
      {{'Login' | translate}}
    </button>
  </mat-card-footer>
</mat-card>