div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mat-toolbar {
  position: unset;
  justify-content: center;
}

.mat-card {
  margin: 1rem;
  & .mat-card-header {
    display: flex;
    justify-content: center;
    & .mat-card-title {
      display: flex;
      justify-content: center;
    }
  }
}

img {
  padding: 0.8rem;
  width: 100%;
}

main {
  height: 100vh !important;
}