<mat-sidenav-container [hasBackdrop]="true">
  <mat-sidenav #sidenav mode="over" [fixedInViewport]="true">
    <app-side-nav></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-container *ngTemplateOutlet="category"></ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #category>
  <mat-toolbar color="primary">
    <button mat-icon-button [title]="'menu-button' | translate" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span translate>Category configuration</span>
    <button mat-icon-button [routerLink]="['new-category', currentTap]" [title]="'Add category' | translate" [title]="'add-configuration-button' | translate">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
  <div class="mat-toolbar-block"></div>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <mat-tab-group mat-stretch-tabs mat-align-tabs="center" *ngIf="!loading" (selectedTabChange)="tabChanged($event)">
    <mat-tab [label]="categoryType.income | translate">
      <main id="main-income">
        <ng-container *ngFor="let item of incomeCategory">
          <app-category-row [category]="item" (updateCategoryEvent)="updateCategories($event)"></app-category-row>
        </ng-container>
      </main>
    </mat-tab>
    <mat-tab [label]="categoryType.expense | translate">
      <main id="main-expense">
        <ng-container *ngFor="let item of expenseCategory">
          <app-category-row [category]="item" (updateCategoryEvent)="updateCategories($event)"></app-category-row>
        </ng-container>
      </main>
    </mat-tab>
  </mat-tab-group>
</ng-template>
