<span class="header">
  <span>
    {{groupDateMovement.date | date: 'dd/MM E'}}
  </span>
  <span>
    <span class="incomeTitle" *ngIf="totalIncome && totalIncome > 0">
      Ingresos: {{totalIncome | number:'':'es'}}
    </span>
    <span *ngIf="totalExpense && totalExpense > 0">
      Gastos: {{totalExpense | number:'':'es'}}
    </span>
  </span>
</span>
<mat-divider></mat-divider>
<mat-card-content>
  <span mat-button *ngFor="let movement of groupDateMovement.movements">
    <span class="movement-row" [routerLink]="['details', movement.id]">
      <span class="icon-memorandum">
        <i class="material-icons-outlined notranslate">{{movement.icon}}</i>
        <span>{{movement.memorandum ? movement.memorandum : movement.categoryName | translate}}</span>
      </span>
      <span>{{movement.amount | number:'':'es'}}</span>
    </span>
  </span>
</mat-card-content>