<span class="header">
  <span>
    {{groupDateMovement.date | date: 'dd/MM E': '': language}}
  </span>
  <span>
    <span class="income-title" *ngIf="totalIncome && totalIncome > 0">
      {{'Incomes' | translate}}: {{totalIncome | number:'' : numberType}}
    </span>
    <span *ngIf="totalExpense && totalExpense > 0">
      {{'Expenses' | translate}}: {{totalExpense | number:'' : numberType}}
    </span>
  </span>
</span>
<mat-divider></mat-divider>
<mat-card-content>
  <span mat-button *ngFor="let movement of groupDateMovement.movements">
    <span class="movement-row" [routerLink]="['details', movement.id]">
      <span class="icon-memorandum">
        <button mat-mini-fab customColor
            [color]="movement!.color"
            [backgroundColor]="movement!.backgroundColor">
          <i class="material-icons-outlined notranslate">{{movement.icon}}</i>
        </button>
        <span>{{movement.memorandum ? movement.memorandum : movement.categoryName | translate}}</span>
      </span>
      <span>{{movement.amount | number:'' : numberType}}</span>
    </span>
  </span>
</mat-card-content>