<h1 matDialogTitle>Upload Movement</h1>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<mat-dialog-content>
  Movements to save: {{data.length}}
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button [mat-dialog-close]="false" color="warn" cdkFocusInitial [disabled]="loading" [title]="'cancel-button' | translate">
    {{'Cancel' | translate}}
  </button>
  <button mat-stroked-button (click)="upload()" color="primary" [disabled]="loading" [title]="'upload-button' | translate">
    {{'Upload' | translate}}
  </button>
</mat-dialog-actions>
