
.mat-card-subtitle {
  text-align: center !important;
  margin: 8px 0 8px 0 !important;
  color: rgb(0 0 0 / 66%);
}

.icon-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  margin: 0.5rem;
}

.btn-icon {
  margin: 0.2rem;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.mat-card {
  margin-bottom: 0.5rem;
}

.mat-form-field {
  margin-right: 0.5rem;
}

.mat-card-footer {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1.34375em;
}

.btn-block {
  display: flex;
  flex-direction: column;
  margin: 5px 6px 5px 6px;
  align-items: center;
  font-size: 10px;
}

.button-mat-prefix {
  width: 1.8rem !important;
  height: 1.8rem !important;
}

.mat-card-content {
  margin: 0.6rem;
}

::ng-deep .mat-form-field-empty.mat-form-field-label, 
::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  padding-left: 6px !important;
}
