<form [formGroup]="formGroup">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="exit()" [name]="'exit-button' | translate">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span translate>{{title}}</span>
    <button mat-icon-button routerLink="/" [name]="'home-button' | translate">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar>
  <div class="header-height"></div>
  <mat-progress-bar mode="indeterminate" *ngIf="loading || saving"></mat-progress-bar>
  <mat-card *ngIf="!loading">
    <mat-card-content>
      <mat-form-field class="w-100">
        <mat-select formControlName="type">
          <mat-option [value]="categoryType.expense">
            {{categoryType.expense | translate}}
          </mat-option>
          <mat-option [value]="categoryType.income">
            {{categoryType.income | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <div class="icon-list">
      <span *ngIf="currentCategories.length ===0" translate>There are no categories</span>
      <span class="btn-block" *ngFor="let category of currentCategories">
        <button class="btn-icon" mat-fab customColor
          [color]="category.icon === formGroup.get('icon')?.value && category.id === formGroup.get('categoryId')?.value ? category.color : defaultColor"
          [backgroundColor]="category.icon === formGroup.get('icon')?.value && category.id === formGroup.get('categoryId')?.value ? category.backgroundColor : defaultBackgroundColor"
          [name]="'category-icon-button' | translate"
          (click)="selectedIcon(category)"
        >
          <i class="material-icons-outlined notranslate">{{category.icon}}</i>
        </button>
        <label translate>{{category.name}}</label>
      </span>
    </div>
    <mat-card-content>
      <mat-form-field appearance="fill" class="w-100">
        <span matPrefix>
          <button mat-icon-button customColor class="button-mat-prefix"
            [color]="formGroup.get('color')?.value"
            [backgroundColor]="formGroup.get('backgroundColor')?.value"
            [name]="'icon-button' | translate"
          >
            <mat-icon>{{formGroup.get('icon')?.value}}</mat-icon>
          </button>
        </span>
        <mat-label translate>Memorandum</mat-label>
        <input matInput type="text" formControlName="memorandum" #memorandum name="memorandum" id="memorandum">
        <mat-error *ngIf="formGroup.get('memorandum')?.hasError('maxlength')">
          {{'message-error.exceed' | translate: { count: 50, type: inputCharacter } }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label translate>Amount</mat-label>
        <input matInput type="text" formControlName="amount" [mask]="mask" [thousandSeparator]="thousandSeparator" name="amount" autocomplete="off" id="amount">
        <mat-error *ngIf="formGroup.get('amount')?.hasError('maxlength') || formGroup.get('amount')?.hasError('max')">
          {{'message-error.exceed' | translate: { count: 12, type: inputDigit } }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label translate>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" [min]="minDate" id="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
      <button mat-stroked-button color="primary" [name]="'cancel-button' | translate" (click)="exit()">
        {{'Cancel' | translate}}
      </button>
      <button mat-stroked-button color="primary" type="submit"
        [disabled]="formGroup.invalid || saving"
        [name]="'save-button' | translate"
        (click)="save()"
      >
        {{'Save' | translate}}
      </button>
    </mat-card-footer>
  </mat-card>
</form>