<form [formGroup]="formGroup">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="exit()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <mat-form-field >
      <mat-select formControlName="type">
        <mat-option [value]="categoryType.expense">
          {{categoryType.expense}}
        </mat-option>
        <mat-option [value]="categoryType.income">
          {{categoryType.income}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar>
  <mat-card>
    <div class="icon-list">
      <button class="btn-icon" mat-mini-fab (click)="selectedIcon(category)"
        *ngFor="let category of currentCategories"
        [color]="category.icon === formGroup.get('icon')?.value ? 'primary': ''">
        <i class="material-icons-outlined">{{category.icon}}</i>
      </button>
    </div>
  </mat-card>
  <mat-card *ngIf="formGroup.get('icon')?.value">
    <mat-card-content>
      <mat-form-field appearance="fill" class="w-35">
        <span matPrefix>
          <mat-icon class="mat-18">{{formGroup.get('icon')?.value}}</mat-icon>
        </span>
        <input matInput type="text" formControlName="memorandum" placeholder="Memorándum">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-20">
        <input matInput type="number" formControlName="amount" placeholder="Amount">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-32">
        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</form>