<span class="row-category">
  <button mat-icon-button color="warn" (click)="deactivateReactivateCategory(category.active)" *ngIf="category.active">
    <mat-icon>highlight_off</mat-icon>
  </button>
  <button mat-icon-button (click)="deactivateReactivateCategory(category.active)" *ngIf="!category.active">
    <mat-icon class="icon-color-green">add_circle_outline</mat-icon>
  </button>
  <i class="material-icons-outlined notranslate">{{category.icon}}</i>
  <span class="category-name">{{category.name | translate}}</span>
  <button mat-icon-button disabled>
    <mat-icon>menu</mat-icon>
  </button>
</span>
<mat-divider></mat-divider>
