@import 'assets/scss/media-file.scss';
@import 'assets/scss/update-primary-color.scss';


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-100 {
  width: 100%;
}

.header-height {
  height: 56px;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  top: 0;
}

.mat-toolbar-block {
  margin-top: 56px;
}

.mat-stroked-button {
  border-color: white !important;
}

