<form [formGroup]="formGroup">
  <mat-card>
    <mat-card-header translate>
      <mat-card-title>{{'Filters' | translate}}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-form-field class="w-40">
        <mat-label>{{'Category' | translate}}</mat-label>
        <mat-select formControlName="category">
          <mat-option [value]="category.id" *ngFor="let category of categories" class="icon-select">
            <!-- <button mat-mini-fab customColor
              [color]="category.color"
              [backgroundColor]="category.backgroundColor"
              [title]="'icon-category-button' | translate"
            >
              <i class="material-icons-outlined notranslate">{{category.icon}}</i>
            </button> -->
            {{category.name | translate}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.controls.month.hasError('required')" translate>
          Filter categories is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-25">
        <mat-label>{{'Month' | translate}}</mat-label>
        <mat-select formControlName="month">
          <mat-option [value]="month" *ngFor="let month of months | enumArrayLoop">
            {{month | translate}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.controls.month.hasError('required')" translate>
          Filter month is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-20">
        <mat-label>{{'Year' | translate}}</mat-label>
        <mat-select formControlName="year">
          <mat-option [value]="year" *ngFor="let year of yearRange">
            {{year}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.controls.month.hasError('required')" translate>
          Filter year is required.
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end" class="m-t-10">
      <button mat-stroked-button color="primary"
        [disabled]="formGroup.invalid || searching" [title]="'save-button' | translate"
        (click)="search()"
      >
        {{"Search" | translate}}
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-progress-bar mode="indeterminate" *ngIf="searching"></mat-progress-bar>
  <mat-card class="m-t-10">
    <mat-card-header>
      <mat-card-title>{{'Movements' | translate}}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <ng-container *ngIf="movements.length; else emptyMovement">
        <mat-selection-list formControlName="selectedMovement">
          <mat-list-option *ngFor="let movement of movements" [value]="movement.id">
            {{movement.memorandum}}
          </mat-list-option>
        </mat-selection-list>
      </ng-container>
      <ng-template #emptyMovement>
        Movements
      </ng-template>
    </mat-card-content>
  </mat-card>
  <mat-card class="m-t-10">
    <mat-card-footer id="footer">
      <button mat-stroked-button color="primary" (click)="cancelAddition()" [title]="'cancel-button' | translate">
        {{'Cancel' | translate}}
      </button>
      <button mat-stroked-button color="primary" type="submit" [disabled]="formGroup.invalid" [title]="'save-button' | translate"
        (click)="save()">{{'Save' | translate}}
      </button>
    </mat-card-footer>
  </mat-card>
</form>
