.mat-card-actions {
  padding: 0;
}

.mat-card-content {
  margin-bottom: 0
}

#footer {
  padding-bottom: 1rem !important;
}

.mat-card-content {
  padding-top: 2rem;
}

.mat-mini-fab {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: unset !important;
  width: 24px;
  height: 24px;
}

.icon-select {
  display: flex;
  align-items: center;
  & > span {
    padding-left: 6px;
  }
}

.mat-custom-icon-button {
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  box-shadow: unset;
  border-radius: 50%;
  display: inline-flex;
  margin-right: 8px;
}

::ng-deep .mat-option-text {
  display: inline-flex !important;
  align-items: center !important
}

#category-hint {
  color: #f44336;
}

.row-mat-field {
  display: flex;
  justify-content: space-between;
}

#month-field, #year-field {
  width: 45% !important;
}