.mat-card-actions {
  padding-bottom: 0;
}

.m-t-10 {
  margin-top: 10px;
}

.mat-card-content {
  margin-bottom: 0
}

.mat-form-field {
  margin-right: 1rem;
}

#footer {
  padding-bottom: 1rem !important;
}