.mat-card-actions {
  padding-bottom: 0;
}

.m-t-10 {
  margin-top: 10px;
}

.m-l-16 {
  margin-left: 16px;
}

.mat-card-content {
  margin-bottom: 0
}

#footer {
  padding-bottom: 1rem !important;
}

.mat-card-content {
  padding-top: 2rem;
}

.mat-mini-fab {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: unset !important;
  width: 24px;
  height: 24px;
}

.icon-select {
  display: flex;
  align-items: center;
  & > span {
    padding-left: 6px;
  }
}