.mat-toolbar {
  justify-content: unset;
  position: unset;
  & > span {
    margin: auto;
  }
}

.mat-card {
  margin: 0.5rem 1rem;
}

.mat-form-field { 
  margin-bottom: 1rem !important;
}

.mat-hint { 
  padding-bottom: 1rem;
}

#main {
  height: 100vh;
  overflow-y: auto;
}