<form [formGroup]="formGroup">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="exit()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span>{{'Configuration' | translate}}</span>
    <button mat-icon-button (click)="exit()">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar>
  <mat-card>
    <mat-card-content>
      <mat-form-field class="w-100">
        <mat-label>{{'Language' | translate}}</mat-label>
        <mat-select formControlName="languageType">
          <mat-option [value]="language.value" *ngFor="let language of languageType | keyvalue">
            {{language.key | translate}}
          </mat-option>
        </mat-select>
        <mat-hint align="start">
          {{'Example language' | translate}}
        </mat-hint>
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>{{'Numbers format' | translate}}</mat-label>
        <mat-select formControlName="numberType">
          <mat-option [value]="numberType.Spanish">
            {{'Spanish' | translate}}
          </mat-option>
          <mat-option [value]="numberType.English">
            {{'English' | translate}}
          </mat-option>
        </mat-select>
        <mat-hint align="start">
          {{'Example' | translate}}: {{amount | number:'' : formGroup.get('numberType')!.value}}
        </mat-hint>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-footer>
      <button mat-stroked-button color="primary" (click)="exit()">
        Cancel
      </button>
      <button mat-stroked-button color="primary" type="submit" [disabled]="formGroup.invalid" (click)="save()">
        {{'Save' | translate}}
      </button>
    </mat-card-footer>
  </mat-card>
</form>